# Mac
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Env
.env

# IDEs
.idea/
.vscode/
*.swp

# Other
scratch/
*.db
